@use 'sass:color';

@use 'variables' as *;

@function rgbComponents($color) {
  @return color.channel($color, 'red', $space: rgb) color.channel($color, 'green', $space: rgb)
    color.channel($color, 'blue', $space: rgb);
}

:root {
  --primaryColor: #{$primaryColor};
  --primaryRGB: #{rgbComponents($primaryColor)};

  --secondaryColor: #{$secondaryColor};
  --secondaryRGB: #{rgbComponents($secondaryColor)};

  --violetColor: #{$violetColor};
  --violetRGB: #{rgbComponents($violetColor)};

  --violetLightColor: #{$violetLightColor};
  --violetLightRGB: #{rgbComponents($violetLightColor)};

  --defaultFont: #{$defaultFont};
  --titleFont: #{$titleFont};
  --defaultFontSize: #{$defaultFontSize};

  --transitionTimeMs: #{$transitionTimeMs};
  --animationTimeMs: #{$animationTimeMs};
  --disappearTimeMs: #{$disappearTimeMs};
}
