@use 'sass:color';
@use '../variables' as *;

/*! Addresses */

.uc-Addresses {
  #allrecords & .t-card__container {
    row-gap: 30px;
  }

  #allrecords & .t-section__descr {
    margin-bottom: 60px;
  }

  .t-card__col {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    img {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
      margin: -1;
    }
    > div {
      position: relative;
      z-index: 1;
      padding-top: 120px;
      padding-bottom: 20px;
      background-color: var(--violetColor);
      transition: all var(--transitionTimeMs);
      border-radius: 20px;
      flex: 1;
      overflow: hidden;
      &,
      > div {
        color: #fff;
      }
      @media (width <= $mobileTreshold) {
        padding-top: 100px;
      }
      .gr,
      .bg {
        transition: all var(--transitionTimeMs);
        position: absolute;
        inset: 0;
      }
      .bg {
        background-repeat: no-repeat;
        background-size: 100% auto; // contain;
        background-position: top center;
        z-index: -2;
      }
      .gr {
        background: linear-gradient(15deg, var(--violetColor) 50%, rgba(var(--violetRGB) / 40%));
        z-index: -1;
      }
      &:hover {
        background-color: color.adjust($violetColor, $lightness: -20%);
        .bg {
          opacity: 0.7;
        }
      }
    }
  }
}
