@use '../variables' as *;

/*! ContactsText */

.uc-ContactsText {
  @include basicActiveLink;
  #allrecords & a {
    color: $primaryColor;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .t-sociallinks__item {
    @include basicActiveLink;
    svg {
      &,
      > * {
        fill: $primaryColor;
      }
    }
  }
}
