@use '../variables' as *;

/*! NavHeader */

#allrecords .uc-NavHeader {
  // Links...
  @include basicActiveLink;
  .t-btn,
  a {
    &:hover {
      color: var(--secondaryColor) !important;
    }
  }
  button.t-menuburger:hover span {
    background-color: var(--secondaryColor) !important;
  }
  .t-menu__list {
    a:hover {
      opacity: 1;
    }
  }

  @media (width <= $mobileTreshold) {
    .tmenu-mobile__container {
      $padding: 10px;
      padding-top: $padding;
      padding-bottom: $padding;
    }
    .tmenu-mobile__burgerlogo img {
      min-width: auto !important;
      width: 80px;
    }
  }

  // @media (width > $mobileTreshold) {
  //   .t228 {
  //     margin: 15px auto;
  //     $hPadding: 20px;
  //     left: $hPadding;
  //     right: $hPadding;
  //     width: auto;
  //   }
  //   .t228__maincontainer {
  //     background-color: rgba(var(--themeBgRGB) / 80%);
  //     backdrop-filter: blur(5px);
  //     border-radius: 10px;
  //     $hPadding: 20px;
  //     @media (width > $mobileTreshold) {
  //       max-width: calc($mobileTreshold - ($hPadding * 2));
  //     }
  //     @media (width > $wideTreshold) {
  //       max-width: calc($wideTreshold - ($hPadding * 2));
  //     }
  //   }
  // }
  // @media (width <= $mobileTreshold) {
  //   .tmenu-mobile {
  //     background-color: rgba(var(--themeBgRGB) / 100%);
  //   }
  //   .t228__maincontainer {
  //     background-color: rgba(var(--themeBgRGB) / 90%);
  //   }
  // }
  // @media (width <= 450px) {
  //   .tmenu-mobile__burgerlogo {
  //     img {
  //       max-width: 85% !important;
  //       margin: 0;
  //     }
  //   }
  // }
}
