@use '../variables' as *;

/*! NavHeader */

#allrecords .uc-NavHeader {
  // Links...
  @include basicActiveLink;
  .t-btn,
  a {
    &:hover {
      color: var(--secondaryColor) !important;
    }
  }
  button.t-menuburger:hover span {
    background-color: var(--secondaryColor) !important;
  }
  .t-menu__list {
    a:hover {
      opacity: 1;
    }
  }

  @media (width <= $mobileTreshold) {
    .tmenu-mobile__container {
      $padding: 10px;
      padding-top: $padding;
      padding-bottom: $padding;
    }
    .tmenu-mobile__burgerlogo img {
      min-width: auto !important;
      width: 80px;
    }
  }
  @media (width > calc($extraWideTreshold + 100px)) { // 1400
    .t-menu__link-item {
      font-size: 20px;
    }
    .t-menusub__link-item {
      font-size: 16px;
    }
    .t-btnflex__text {
      font-size: 20px;
    }
  }
}
