@use '../variables' as *;

/*! Offers */

.uc-ActionOffers,
.uc-OfferBanner {
  @include activeLink;
}

// Offer blocks with an image and text
.uc-ActionOffers {
  .t182__wrapper {
    // padding: 0;
  }
  // Adaptive fix-ups
  .t842__bgwrapper {
    @media (width <= $tinyTreshold) {
      width: auto !important;
    }
  }
  .t-descr {
    span {
      text-decoration: none !important;
      color: $primaryColor;
    }
  }
}

.uc-Offers {
  .js-product {
    margin: 10px 0;
  }
  a {
    // Disable links
    cursor: default;
    pointer-events: none;
  }
  .t-bgimg,
  img.t-img {
    margin-top: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
  }
  .t-descr {
    opacity: 1;
    span {
      text-decoration: none !important;
      color: $primaryColor;
      font-weight: bold;
      // opacity: 0.6;
      // font-size: 85%;
    }
  }
}
