@use '../variables' as *;

/*! Reviews */

.uc-Reviews {
  @include activeLink;
  a {
    border: 1px solid red;
    color: $secondaryColor;
    &:hover {
      text-decoration: underline;
    }
  }
  .ReviewsContainer {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    iframe {
      width: 100%;
      border: 1px solid #eee;
      border-radius: 8px;
      box-sizing: border-box;
      max-width: 700px;
      height: 600px;
      background-color: #fff;
      overflow: hidden;
    }
  }
}
