@use '../variables' as *;

#allrecords {
  .uc-SubPageHeader {
    @include basicActiveLink;

    // Page header with a 'Back' button
    .t-container {
      .t-col:nth-child(1) {
        // border: 1px solid green; // DEBUG
        font-size: 1.5em;
        text-transform: uppercase;
      }
      // t185__butwrapper
      .t-col:nth-child(2) {
        display: flex;
        // border: 1px solid pink; // DEBUG
        @media (width > $mobileTreshold) {
          justify-content: flex-end;
        }
        .t-btn {
          border-radius: 5px;
          // border: 1px solid #333 !important;
          transition: all var(--transitionTimeMs);
          background-color: #333;
          color: #fff;
          padding: 0.5em 2em;
          &:hover {
            background-color: var(--secondaryColor);
            opacity: 1;
            // color: #fff;
          }
        }
      }
    }
  }

  // Adjust whole product card layout
  .t-store.t-store__prod-snippet__container {
    padding-top: 50px;
  }

  // Inner product card
  .js-store-product.js-product {
    @include basicActiveLink;
    // border: 1px solid green; // DEBUG
    .t-slds__arrow {
      transition: all var(--transitionTimeMs);
      &:hover {
        background-color: var(--secondaryColor) !important;
        opacity: 1;
      }
    }
    .t-btn {
      transition: all var(--transitionTimeMs);
      &:hover {
        background-color: var(--secondaryColor) !important;
        opacity: 1;
      }
    }
    // Product price
    .js-product-price {
      font-size: 2em;
    }
    .js-product-price,
    .t-store__prod-popup__price-currency {
      vertical-align: baseline;
    }
  }

  // Product images
  .t-slds__container,
  .t-slds__bgimg {
    // NOTE: It affects main page hero section (uc-Hero) slides
    // border-radius: 10px;
  }
  .t-slds__thumbsbullet-border,
  .t-slds__thumbsbullet .t-slds__bgimg {
    border-radius: 5px;
  }
  .t-slds__bullet_active .t-slds__thumbsbullet-border {
    border-color: var(--secondaryColor);
  }

  // Blog post image
  .t-feed__post-popup {
    .t-feed__post-popup__cover-wrapper {
      img {
        border-radius: 10px;
      }
    }
  }
}

// Popup controls
.t-popup {
  .t-popup__close-icon {
    &:hover {
      &,
      > * {
        fill: var(--secondaryColor);
      }
    }
  }
}

// Carousel popup controls
.t-zoomer__wrapper {
  .t-zoomer__scale,
  .t-zoomer__close {
    transition: all var(--transitionTimeMs);
    &:hover {
      background-color: var(--secondaryColor) !important;
      opacity: 1;
    }
  }
  .t-carousel__zoomer__control {
    &,
    .t-carousel__zoomer__arrow__wrapper,
    .t-carousel__zoomer__arrow__wrapper:before {
      transition: all var(--transitionTimeMs);
    }
    &:hover {
      opacity: 1;
      .t-carousel__zoomer__arrow__wrapper {
        &:before {
          background-color: var(--secondaryColor) !important;
        }
      }
    }
  }
  // Image
  .t-carousel__zoomer__img {
    border-radius: 10px;
  }
}
